$primaryfont: "Fira Sans", sans-serif;
$primarycolor: #e94560;
$secondarycolor: rgb(249, 248, 248);

.button {
  --color: rgb(249, 248, 248);
  --hover: rgb(249, 248, 248);
}

button {
  background: none;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: none;
  margin: 1px;
  font-family: $primaryfont;
}
button {
  color: var(--color);
  transition: 0.25s;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: $primarycolor;
}

.button:hover,
.button:focus {
  box-shadow: inset -10.5em 0 0 0 var(--hover), inset 10.5em 0 0 0 var(--hover),
    10px 10px 1px #00000012;
  border: -1px solid white;
}
