$primaryfont: "Fira Sans", sans-serif;
$primarycolor: #e94560;
$secondarycolor: rgb(249, 248, 248);

.button {
  --color: rgb(249, 248, 248);
  --hover: rgb(249, 248, 248);
}

button {
  background: none;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: none;
  margin: 1px;
  font-family: $primaryfont;
  position: relative;
  outline: none;
}
button {
  color: var(--color);
  transition: 0.25s;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: $primarycolor;
  font-weight: 500;
  outline: none;
}

.button:hover,
.button:focus {
  box-shadow: inset -10.5em 0 0 0 var(--hover), inset 10.5em 0 0 0 var(--hover),
    10px 10px 1px #00000012;
  border: -1px solid white;
}
$color1: #fefefe;

button::after,
button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 1px solid;
  transition: all 0.4s ease;
  border-radius: 2px;
}
button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: $secondarycolor;
  border-right-color: $secondarycolor;
}
button::before {
  top: 0;
  left: 0;
  border-top-color: $secondarycolor;
  border-left-color: $secondarycolor;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

button:hover:after,
button:hover:before {
  width: 100%;
  height: 100%;
}

button > i {
  animation: spin 0.4s linear infinite alternate-reverse;
  transform-origin: center;
}
