$background1: #1a1a2e;
$background2: #16213e;
$primaryfont: "Fira Sans", sans-serif;

.mt-12 {
  margin-top: 6rem;
}

h1.title {
  font-size: 8rem;
}

h1.subtitle {
  font-size: 4rem;
}

p,
.nav-link,
small {
  font-style: italic;
}

.h-80 {
  min-height: 80vh !important;
}

.bg-1 {
  background-color: $background1 !important;
}

.bg-2 {
  background-color: $background2 !important;
}

small {
  font-family: $primaryfont;
}
