// $background1: #1a1a2e;
// $background2: #16213e;

$background1: #1a1a2e;
$background2: #16213e;

$primarycolor: #e94560;
$secondarycolor: rgb(249, 248, 248);
$ternarycolor: #0f3460;

$color1: #ffe6f1;
$color2: #ff65bd;
$color3: #e94560;
$color3: #6b1839;

// $primaryfont: "Fira Sans", sans-serif;
$primaryfont: "Satoshi", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
$secondaryfont: "Lobster", cursive;
