@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$background: #222222;
$primarycolor: #030dff;
$secondarycolor: rgb(249, 248, 248);

* {
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: $background;
  color: $secondarycolor;
}

p {
  font-style: italic;
}

.navbar-dark {
  background-color: $background !important;
}

.page-fade {
  animation: page-fade 0.8s;
}

@keyframes page-fade {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.btn {
  background-color: $primarycolor;
}
