::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #c7eeff;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #00b2ff;
  width: 5px;
}

* {
  font-family: "Alegreya", serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background: #fdfdfd;
}

a {
  font-family: "Syne", sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  color: black;
  text-decoration: none;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 1.7px;
  background: #00b2ff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
}

h4.subheading {
  font-family: "Syne", sans-serif;
  font-size: 2.4rem;
}

h6.subtitle {
  font-size: 1.8rem;
  font-style: italic;
}

.card {
  border: none;
  -webkit-box-shadow: 3px 6px 5px #00000005;
          box-shadow: 3px 6px 5px #00000005;
  border-radius: 0.7rem;
  cursor: pointer;
}

.card:hover {
  -webkit-box-shadow: 3px 6px 10px #00000015;
          box-shadow: 3px 6px 10px #00000015;
}

.bg-light {
  background-color: #fdfdfd !important;
}

.loader {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .spinner-grow {
  margin: 10px;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar .nav-item {
  color: black;
}

.navbar .nav-item .nav-link {
  color: black;
}

.navbar .nav-item .nav-link:hover {
  color: black;
}

.navbar .nav-item .nav-link-active {
  color: #00b2ff;
}

.navbar .nav-item .nav-link-active:hover {
  color: #00b2ff;
}

@media (max-width: 500px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.landingPage .container {
  margin-top: 12vh;
}

.landingPage .container .row {
  margin-top: 2rem;
}

.landingPage .container .row .col-sm-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.landingPage .container .row .col-sm-6 h1 {
  font-family: "Syne", sans-serif;
  font-size: 4.2rem;
}

.landingPage .container .row .col-sm-6 p {
  font-size: 1.4rem;
}

.landingPage .container .row .col-sm-6 p #downarrow {
  height: 15px;
  padding-left: 5px;
  -webkit-animation: wobble 0.3s infinite alternate;
          animation: wobble 0.3s infinite alternate;
  cursor: pointer;
}

.landingPage .container .row .col-sm-6 #profile {
  width: 100%;
}

.landingPage .container .row .card {
  background-color: #00000000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landingPage .container .row .card-inner {
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.landingPage .container .row .card-back {
  position: absolute;
  color: black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0px;
  z-index: 100;
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landingPage .container .row .card-back a:hover {
  color: #000000;
  text-decoration: none;
}

.landingPage .container .row .card:hover .card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.landingPage .container .row .card-front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.landingPage .container .row #auv,
.landingPage .container .row #countries,
.landingPage .container .row #cricketgame {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  padding: 10px;
  background-color: #c7eeff;
}

.landingPage .container .row #samgatha,
.landingPage .container .row #fbclone,
.landingPage .container .row #slidingpuzzle {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  padding: 10px;
  background-color: #f3d9ff;
}

.landingPage .container .row #crm,
.landingPage .container .row #todo,
.landingPage .container .row #tictactoe {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  padding: 10px;
  background-color: #fff3e5;
}

.landingPage .container .row #auv,
.landingPage .container .row #samgatha,
.landingPage .container .row #fbclone,
.landingPage .container .row #todo {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.landingPage .container .row #auv img,
.landingPage .container .row #samgatha img,
.landingPage .container .row #fbclone img,
.landingPage .container .row #todo img {
  height: auto;
  width: 75%;
  margin: auto;
}

.landingPage .container .row #crm {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  padding: 20px 60px;
}

.landingPage .container .row #crm img {
  height: auto;
  width: 100%;
  margin: auto;
}

.landingPage .container .row #countries {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  height: 100%;
}

.landingPage .container .row #countries img {
  height: auto;
  width: 75%;
  margin: auto;
}

.landingPage .container .row #slidingpuzzle img {
  height: auto;
  width: 80%;
  margin: auto;
}

.landingPage .container .row #tictactoe img {
  height: auto;
  width: 30%;
  margin: auto;
}

.landingPage .container .row #cricketgame img {
  height: auto;
  width: 90%;
  margin: auto;
}

.landingPage .container .card-deck .card {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingPage .container .card-deck .card p {
  font-size: 2.4rem;
  font-style: italic;
}

.landingPage .container .card-deck #soleflow {
  background-color: #c7eeff;
}

.landingPage .container .card-deck #chatapp {
  background-color: #fff3e5;
}

.landingPage .container .card-deck #socialgram {
  background-color: #f3d9ff;
}

.landingPage .container #connect {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.landingPage .container #connect a {
  font-size: 2.4rem;
  color: black;
}

.landingPage .container #footer {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landingPage .container #footer p {
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .landingPage .container .row #samgatha,
  .landingPage .container .row #tictactoe,
  .landingPage .container .row #cricketgame {
    margin-top: 1.5rem;
  }
  .landingPage .container .row #crm {
    padding: 25px 10px;
  }
  .landingPage .container .row #fbclone {
    margin-top: 1.5rem;
    width: 100%;
  }
}

@-webkit-keyframes wobble {
  from {
    margin-top: 5px;
  }
  to {
    margin-top: -5px;
  }
}

@keyframes wobble {
  from {
    margin-top: 5px;
  }
  to {
    margin-top: -5px;
  }
}

.about .container {
  margin-top: 12vh;
}

.about .container .row {
  margin-top: 2rem;
}

.about .container .row .card {
  background-color: #ffffff68;
}

.about .container .row #carouselcolumn {
  background: url("aboutart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.about .container .row #carouselcolumn #carousel,
.about .container .row #carouselcolumn .carousel-inner,
.about .container .row #carouselcolumn .carousel-item .card {
  height: auto;
  width: 80%;
  margin: auto;
  border-radius: 0.8rem;
  padding: 1rem 0px;
}

.about .container .row #carouselcolumn #carousel .w-75,
.about .container .row #carouselcolumn .carousel-inner .w-75,
.about .container .row #carouselcolumn .carousel-item .card .w-75 {
  margin: auto;
}

.about .container .row .col-sm-6 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.about .container .row .col-sm-6 h1 {
  font-family: "Syne", sans-serif;
  font-size: 4.2rem;
}

.about .container .row .col-sm-6 p {
  font-size: 1.4rem;
}

.about .container .row .col-sm-6 #carousel {
  z-index: 10;
}

.about .container .row .col-sm-6 .skilllist li {
  font-size: 1.2rem;
}

.about .container #connect {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.about .container #connect a {
  font-size: 2.4rem;
  color: black;
}

.about .container #footer {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about .container #footer p {
  font-size: 1.2rem;
}

.project .container {
  margin-top: 12vh;
}

.project .container a:hover {
  color: black;
  text-decoration: none;
}

.project .container .row .col-sm-6 p {
  font-size: 1.4rem;
}

.project .container .row .col-sm-6 img.art {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */