@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 white;
            box-shadow: 0 0 0 0 white;
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 white;
            box-shadow: 0 0 0 0 white;
  }
}

@-webkit-keyframes page-fade {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes page-fade {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.mt-12 {
  margin-top: 6rem;
}

h1.title {
  font-size: 8rem;
}

h1.subtitle {
  font-size: 4rem;
}

p {
  font-style: italic;
}

.h-80 {
  min-height: 80vh !important;
}

.bg-1 {
  background-color: #1a1a2e !important;
}

.bg-2 {
  background-color: #16213e !important;
}

.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
}

.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  border: 1px solid #f0f;
  right: 40px;
  top: 0;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 700px) {
  .timeline {
    padding: 2rem;
  }
  .timeline:before {
    left: calc(50% - 1px);
    right: auto;
  }
}

.timeline__item {
  padding: 1rem;
  border: 2px solid #f0f;
  -o-border-image: linear-gradient(to right, #0ff 0%, #f0f 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#0ff), to(#f0f));
     border-image: linear-gradient(to right, #0ff 0%, #f0f 100%);
  border-image-slice: 1;
  position: relative;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;
}

.timeline__item:after, .timeline__item:before {
  content: "";
  position: absolute;
}

.timeline__item:before {
  right: -10px;
  top: calc(50% - 5px);
  border-style: solid;
  border-color: #f0f #f0f transparent transparent;
  border-width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 700px) {
  .timeline__item {
    width: 44%;
    margin: 1rem;
  }
  .timeline__item:nth-of-type(2n) {
    float: right;
    margin: 1rem;
    -o-border-image: linear-gradient(to right, #f0f 0%, #0ff 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(#f0f), to(#0ff));
       border-image: linear-gradient(to right, #f0f 0%, #0ff 100%);
    border-image-slice: 1;
  }
  .timeline__item:nth-of-type(2n):before {
    right: auto;
    left: -10px;
    border-color: transparent transparent #f0f #f0f;
  }
}

.timeline__item--year {
  text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1.8rem;
  background-color: #333;
  line-height: 1;
  -o-border-image: none;
     border-image: none;
  padding: 0.5rem 1rem 1rem;
}

.timeline__item--year:before {
  display: none;
}

@media screen and (min-width: 700px) {
  .timeline__item--year {
    text-align: center;
    margin: 0 auto;
  }
  .timeline__item--year:nth-of-type(2n) {
    float: none;
    margin: 0 auto;
    -o-border-image: none;
       border-image: none;
  }
  .timeline__item--year:nth-of-type(2n):before {
    display: none;
  }
}

.timeline__title {
  margin: 0;
  font-size: 1.5em;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.button {
  --color: rgb(249, 248, 248);
  --hover: rgb(249, 248, 248);
}

button {
  background: none;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: none;
  margin: 1px;
  font-family: "Fira Sans", sans-serif;
  position: relative;
  outline: none;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}

button:hover,
button:focus {
  border-color: var(--hover);
  color: #e94560;
  font-weight: 500;
}

.button:hover,
.button:focus {
  -webkit-box-shadow: inset -10.5em 0 0 0 var(--hover), inset 10.5em 0 0 0 var(--hover), 10px 10px 1px #00000012;
          box-shadow: inset -10.5em 0 0 0 var(--hover), inset 10.5em 0 0 0 var(--hover), 10px 10px 1px #00000012;
  border: -1px solid white;
}

button::after,
button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 1px solid;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 2px;
}

button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #f9f8f8;
  border-right-color: #f9f8f8;
}

button::before {
  top: 0;
  left: 0;
  border-top-color: #f9f8f8;
  border-left-color: #f9f8f8;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

button:hover:after,
button:hover:before {
  width: 100%;
  height: 100%;
}

p,
a,
h4 {
  font-family: "Fira Sans", sans-serif;
}

h1,
.navbar-brand {
  font-family: "Lobster", cursive !important;
  color: #e94560 !important;
}

body {
  color: #f9f8f8;
  background-color: #16213e;
}

.page-fade {
  -webkit-animation: page-fade 0.5s;
          animation: page-fade 0.5s;
}

.navbar-dark {
  background-color: #16213e !important;
}

.fab {
  color: #e94560;
  font-size: 2rem;
  cursor: pointer;
}

.fab:hover {
  border-radius: 50ex;
  -webkit-box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

hr.title-hr {
  border-top: 0.3rem solid #e94560;
}

.github-card {
  width: 250px;
}

.github-card span {
  color: #e94560;
  font-size: 3rem;
  font-family: "Lobster", cursive !important;
}

.popout span {
  -webkit-transform: translate3d(0.08em, -0.08em, 0);
          transform: translate3d(0.08em, -0.08em, 0);
  text-shadow: -0.08em 0.08em #0f3460;
  color: #e94560;
}
/*# sourceMappingURL=style.css.map */