@import url("./external/locomotive.css");

// Migra font styles
@font-face {
  font-family: "Migra";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/migra/Migra-Extralight.ttf") format("truetype");
}

@font-face {
  font-family: "Migra";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/migra/MigraItalic-ExtralightItalic.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Migra";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/migra/Migra-Extrabold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Migra";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/migra/MigraItalic-ExtraboldItalic.ttf")
    format("truetype");
  font-display: swap;
}

// brown sugar font

@font-face {
  font-family: "Brown Sugar";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/brown-sugar/brown-sugar.ttf") format("truetype");
  font-display: swap;
}

$font-serif: "Migra", "Cormorant Garamond", Georgia, "Times New Roman", Times,
  serif;
$font-sans-serif: "Figtree Variable", "Lucida Sans", "Lucida Sans Regular",
  "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$font-serif-2: "Brown Sugar", "Migra", "Cormorant Garamond", Georgia,
  "Times New Roman", Times, serif;

@import "./components/imggallery";
@import "./components/typography";
// @import "./components/cssbutton";

// body {
//   font-family: $font-sans-serif;
//   color: #17181a;

//   // background: url("../assets/images/bg.png"), lightgray 10%;
//   // background: url("../assets/images/bg.png"),
//   //   rgb(240, 240, 240) 50% / cover no-repeat;

//   background: url("../assets/images/bg.png") 50% / cover no-repeat,
//     rgba(255, 255, 255, 0.246);

//   // mix-blend-mode: difference;
//   // background-color: #fff;
//   // height: 100vh;
//   width: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   animation: gradientAnimation 2s linear infinite alternate;
// }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-sans-serif;
  color: #17181a;
  background: url("../assets/images/bg.png");
  background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire contain

  // background: url("../assets/images/bg.png");
  // background-size: cover;
  // background-repeat: no-repeat;

  // position: relative;
  // width: 100vw;
  // height: 100%;

  /* Add a light overlay using pseudo-element ::before */
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(255, 255, 255, 0.7); /* Adjust the alpha value as needed */
  // }
}

.text-serif {
  font-family: $font-serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

// .home-body {

//   // background: linear-gradient(61deg, #92e2f1 0%, #ffaea7 59.35%);
//   // background: linear-gradient(61deg, #92e2f1 0%, #ffaea7 70%);
//   // background-size: 200% 200%; /* Adjust the size as needed */
//   // animation: gradientAnimation 5s linear infinite alternate; /* Adjust the animation duration as needed */
//   // background-repeat: no-repeat;
// }

.social-icons {
  border-radius: 3rem;
  background: linear-gradient(180deg, #fff 0%, rgba(218, 218, 218, 0) 100%);
  box-shadow: 20px 20px 60px 0px #cecece, -20px -20px 60px 0px #fff;
}

// .featured-project-card {
//   transition: transform 0.2s; /* Add a smooth transition */

//   &:hover {
//     transform: translateZ(-10px); /* Move the card slightly backward on hover */
//   }
// }

.article-link {
  transition: all 0.3s ease-in-out;
  .article-arrow {
    display: none;
    transition: all 0.3s ease-in-out;
  }
  &:hover .article-arrow {
    display: block;
  }
}
.topbar-link {
  button {
    font-weight: 400 !important;
  }

  &.active {
    button {
      font-weight: 700 !important;
    }
  }
}

// .article-link {
//   text-decoration: none; /* Remove default link underline */
//   position: relative; /* Create a positioning context for ::after */
// }

// .article-link::after {
//   content: ">"; /* Arrow character */
//   position: absolute;
//   top: 50%;
//   right: 0px; /* Adjust the position of the arrow */
//   transform: translateY(-50%);
//   opacity: 0; /* Initially hidden */
//   transition: opacity 0.3s ease; /* Add a transition for a smooth appearance */
// }

// .article-link:hover::after {
//   opacity: 1; /* Show the arrow on hover */
// }

// .article-link:hover .arrow {
//   opacity: 1;
//   margin-left: 5px; /* Adjust the margin to push "Read More" to the left */
// }
